.primary {
    background-color: #29340b;
    color: #eef7dc;
}

.tagline {
    font-size: .72rem;
    font-weight: 600;
    border: 1px solid #d0f176;
    border-radius: .4rem;
    width: fit-content;
    padding: .1rem .5rem;
    margin-bottom: .5rem;
    background-color: #eaffb2bd;
    color: #596a2e;
}

h1,h2,h3 {
    line-height: 1.1;
    font-weight: 700;
    color: #29340b;
}

h2 {
    font-size: 2.25rem;
}

p {
    font-size: 1.05rem;
    color: #29340b;
}

button {
    font-size: .95rem;
}

main {
    background-color: #eef7dc;
}

.card h3 {
    font-size: 1.35rem;
}


/*
body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
*/

nav .menu {
    z-index: 2;
}

nav li {
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

nav li:hover {
    display: inline-block;
    transform: scale(1.05);
}

nav li:active {
    transform: scale(0.97);
}

nav li span {
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
    color: #29340b;
}

nav .nav-menu {
    padding: .45rem;
    background-color: #eef7dc;
    border-radius: .25rem;
}

.home .hero {
    padding-top: 4rem;
}

.home .hero .text {
    padding: 1rem 1.5rem;
}

.home .hero h1 {
    font-size: 52.5px;
    font-weight: 800;
}

.home .hero .lead {
    margin: 1rem 0;
}

.sectors {
    overflow-x: hidden;
}

.sectors .slider {
    display: flex;
    gap: 1rem;
    width: fit-content;
    animation: scroll 35s linear infinite;
}

.sectors .slider .card {
    height: 150px;
    width: 150px;
    flex-shrink: 0;
    background-color: #dbe4c7;
    border-radius: .45rem;
}

.value-pillars .cards {
    display: grid;
    gap: 1rem;
}

.value-pillars .card{
    background-color: #dbe4c7;
    color: var(--color-white);
    height: 25rem;
    padding: 2rem 1.5rem;
    border-radius: 1.25rem;
    display: grid;
}

.value-pillars .card:nth-child(1) {
    background-color: #29340b;
}

.value-pillars .cards h2 {
    color: #eef7dc;
}

.value-pillars .cards img {
    place-self: end;
}

.value-pillars .cards p {
    margin: .5rem 0;
    color: #f0ffcb;
}

.value-pillars .cards h3 {
    color: #f8ffe6;
}

.four-divisions .cards {
    display: grid;
    margin-top: 1.5rem;

}

.four-divisions .cards .card {
    padding: 2rem;
    background-color: #e5ffa9;
    border-radius: .75rem;
    border: 1px solid #14190596;
}

.four-divisions .cards .card:not(:first-child) {
    margin-top: -1rem;
}

.leadership .cards .card {
    display: grid;
    grid-template-columns: 3fr 2fr;
    text-align: left;
}

.industries .ten-industries-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: .5rem;
}

.services ul li h3 {
    font-size: 1.12rem;
}

@keyframes scroll {
    from {transform: translateX(0);}
    to {transform: translateX(-50%);}
}


@media screen and (min-width: 1200px) {
    h2 {
        font-size: 50px;
    }

    h1 {
        font-size: 70px !important;
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 52px;
    }
}
