@import "tailwindcss";

* {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

/**/
:root {
    --bg: #fff;
    --text: #141b27;
    --accent: #0284c7;
    --action: #dc2626;

    background-color: var(--bg);
    color: var(--text);
}
